* {
    border-radius: 0 !important;
}

body {

    margin-top: 3.5rem;
}

.navbar-light {
    background-color: rgba(0, 128, 128, 0.2);
}

.dropdown-item.active, .dropdown-item:hover {
    background-color: rgba(0, 128, 128, 0.2) !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: rgba(0, 128, 128, 1) !important;
}

iframe {
    border: 0;
}