@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Cantarell:700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
body {
    margin-top: 50px;
    height: 1000px;
    color: #a7a7a7;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
}

p {
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 1.5em;
}

.about {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    letter-spacing: .025em;
    margin: 5% 5% 5% 5%;
}


/* home */

.intro {
    min-height: 500px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10%;
}

.intro-blurb {
    margin: 5% 20% 5% 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    line-height: 2em;
    text-align: center;
}


/* logo */

.navbar-brand {
    padding-top: 5px;
}

.navbar-brand p:hover {
    color: rgb(161, 161, 161);
}

.logobox {
    background-color: transparent;
    border: 3px solid;
    border-color: #525252;
    width: 231px;
}

.logobox p {
    margin: .2em;
    font-weight: bold;
    color: #525252;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1em;
}


/* navbar */

.navbar-inverse {
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgb(237, 237, 237);
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Cantarell', sans-serif;
    letter-spacing: .020em;
}

.navbar-inverse .navbar-nav>li>a {
    color: #4F4F4F;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: lightgray;
}


/* hamburger icon animation */

.navbar-toggle {
    background-color: transparent;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}


/* modal */

.modal {
    font-family: 'Roboto', sans-serif;
}


/* map */

iframe {
    width: 100%
}


/* page header */

.page-header {
    padding: 50px 0;
    position: relative;
    background-image: url("../img/concert.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: rgba(0, 0, 0, .05);
    background-attachment: fixed;
}

.jumbotron-image {
    background-size: cover;
    width: 100%;
}

.page-header h1 {
    color: white;
}

h1:after {
    margin: 0 auto;
    width: 50px;
    height: 7px;
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #03A9F4;
    transition: all .3s;
}


/* buttons */

button,
.jumbotron-button {
    padding: 1em 1.5em;
    display: inline-block;
    position: relative;
    background: #03A9F4;
    color: white;
    border: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: none;
}

button:hover,
button:focus,
.jumbotron-button:hover,
.jumbotron-button:focus {
    background: #333;
    color: white;
    text-decoration: none;
}

button:hover:after,
button:focus:after,
{
    margin: 0 auto;
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    background: #333;
}

.jumbotron-button:hover:after,
.jumbotron-button:focus:after {
    margin: 0 auto;
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    background: #333;
}

.success {
    background-color: #28C36A;
}

.danger {
    background-color: #E04C4B;
}

.button-holder {
    text-align: center;
}

.modal-button {
    margin-bottom: 20px;
}


/* headings */

h1,
h2,
h3 {
    padding-bottom: 14px;
    position: relative;
    color: #333;
    font-weight: 300;
    text-align: center;
    letter-spacing: .025em;
}

h2 {
    padding-bottom: 0;
    margin: 0;
}

h5 {
    text-align: center;
}

h1:hover:after {
    width: 100px;
}


/* portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-grid {
    margin: 25px auto;
    width: 600px;
}

.portfolio-grid img {
    padding: 10px;
    width: 33.333%;
    float: left;
    box-sizing: border-box;
}

.portfolio-wrap {
    margin: 0 -10px;
    overflow: hidden;
}

@media(max-width:700px) {
    .portfolio-grid {
        width: 100%;
    }
    .portfolio-grid img {
        width: 50%
    }
}

@media(max-width:400px) {
    .portfolio-grid {
        width: 100%;
    }
    .portfolio-grid img {
        width: 100%
    }
}


/* contact */

.col-lg-6 {
    padding-top: 25px;
}

.glyphicon,
.fa {
    margin-right: 26px;
    font-size: 0.8em;
    color: #676960;
    text-align: center;
}

.social-media {
    text-align: center;
    font-size: 2em;
    margin-right: 24px;
    padding-left: 45px;
}

.my-details {
    text-align: center;
}

hr {
    width: 50%;
}

textarea {
    min-height: 250px;
}