
h2{
    color:teal; 
    font-size:3em;
    margin-bottom:0.3em;
    padding-top:0;
}

p{
    font-size:2em;  
}

p,li{
    color:#222;   
}
p,code{
    margin: 1em 0 0.2em 0;   
}

/* the first element after the h2 */
p:nth-child(2), code:nth-child(2){
    margin-top: 0; 
}

.table1{
    width:100%;
}
.img-maximum{
    width:100%;
    max-width:100%;   
}


.half{
        margin:0;
        padding:0;
        width:48%;
        float:left;
}

@media (max-width: 800px) {
    .half{
        width:100%;
    }
}

.panel-body{
    padding:0;   
}

