@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url(https://fonts.googleapis.com/css?family=Iceland);
body {
    background-color: #0D0C0C;
}

.jumbotron {
    background-image: url(../images/texture/blackbg.jpg);
    background-position: top;
    font-family: 'Raleway', sans-serif;
}

.art-com {
    background-image: url(../images/texture/bwbg.jpg);
}

.step-by-step {
    background-color: #303030;
    font-family: 'Raleway', sans-serif;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 5px;
}

.digtrad {
    background-color: #303030;
    font-family: 'Raleway', sans-serif;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 5px;
}

.meme {
    background-color: #303030;
    font-family: 'Raleway', sans-serif;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 5px;
}

.fillwidth {
    width: 100%;
}

h1,
h2,
h3,
h4 {
    font-family: 'Iceland', cursive;
}

.art-toggle {
    float: right;
}

.navbar {
    font-family: 'Raleway', sans-serif;
}

.navbar-default{
    background-color: papayawhip;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #FFDA9B;
    color: #0D0C0C;
}
.navbar-inverse {
    background-color: #8C5F38;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFDC;
}

.navbar-inverse .navbar-brand {
    color: #FFEF82;
}


#452B12
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #613D19;
    color: #FFEF82;
}


/* unvisited link */

a:link {
    color: #FFFFDC;
}


/* visited link */

a:visited {
    color: #4A2F13;
}


/* mouse over link */

a:hover {
    color: #FFFFDC;
}


/* selected link */

a:active {
    color: #FFFFDC;
}

.btn-info {
    color: #ffffff;
    background-color: black;
    border-color: green;
}

.btn {
    background-color: #8C5F38;
    font-family: 'Raleway', sans-serif;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.conbtn {
    background-color: #303030;
    border: 100%;
    border-color: sandybrown;
    color: #FFFFDC;
}

.demo {
    width: 420px;
}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0;
}

li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}